@import url("https://fonts.googleapis.com/css2? família= Sombras+Into+Luz & display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
}

body {
  background: #ccc;
}

.img {
  margin-left: 10%;
  cursor: pointer;
}

.cabecalho {
  width: 100%;
  height: 100px;
  background: rgb(242, 242, 242);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: safe;
  padding: 24px;
  position: sticky;
  top: 0;
}

.cabecalho-menu-item {
  color: black;
  margin-left: 30px;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.cabecalho-menu-item:hover {
  cursor: pointer;
  border-top: 2px solid black;
}

.btn {
  margin-left: 250px;
  width: 70px;
  height: 35px;
  background: none;
  border: 2px solid blue;
  color: blue;
  cursor: pointer;
  font-size: 15px;
  transition: letter-spacing 500ms;
}

.btn:hover {
  letter-spacing: 2px;
  transition: 500ms;
}

.botao {
  margin: 10px;
  width: 150px;
  height: 40px;
  background: blue;
  color: white;
  font-family: sans-serif;
  cursor: pointer;
  font-size: 15px;
}

.conteudo {
  margin: 70px;
}

.conteudo-principal {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.conteudo-principal-escrito {
  margin-left: 50px;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.titulo {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: rgb(56, 48, 48);
  font-weight: normal;
  font-size: 90px;
  max-width: 760px;
  margin-top: -30px;
}

.paragrafo {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: 200;
  font-size: 40px;
}

#btn {
  background-color: black;
  width: 220px;
  height: 80px;
  border: none;
  box-shadow: 4px 5px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  font-family: "Sarala", sans-serif;
  font-weight: 400;
  font-size: 24px;
  color: white;
  cursor: pointer;
  transition: background 500ms;
}

#btn:hover {
  background: rgb(15, 12, 12);
  color: white;
  transition: 500ms;
}

.imagem-conteudo-principal {
  height: 430px;
}

.conteudo2 {
  border-top: 1px solid #000;
  font-size: 22px;
  font-weight: 300px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  margin-top: 100px;
  text-align: center;
}

.titulo2 {
  margin-top: 10px;
  font-family: "Shadows Into Light", cursiva;
  font-size: 40px;
  color: rgb(43, 41, 41);
}

.container {
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.card {
  height: 68vh;
  width: 100vw;
  font-family: "Shadows Into Light", cursiva;
  margin: 15px;
  background-color: rgb(159, 146, 146);
  box-shadow: 1px 1px 1px 1px rgb(29, 25, 25);
  border-radius: 10px;
  transition: 1s;
}

h3 {
  font-size: 30px;
  margin-top: 15px;
}

.card p {
  margin-top: 25px;
  font-size: 25px;
}

.card:hover {
  cursor: pointer;
  transition: 1.5s;
  letter-spacing: 2px;
  text-shadow: 2px 2px #ccc;
  box-shadow: 3px 3px 3px 3px rgb(37, 33, 33);
}

.whats {
  position: fixed;
  bottom: 3px;
  right: 5px;
  cursor: pointer;
  opacity: 0.7;
  transition: opacity 500ms;
}

.whats:hover {
  opacity: 1;
  transition: 500ms;
}

footer {
  border-top: 1px solid black;
  margin-top: 100px;
}

.img-rodape {
  display: block;
  margin: 0 auto;
  padding-top: 80px;
}

.logos {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 5px;
  margin-top: 100px;
  cursor: pointer;
}

/* 
  Não consegui realizar os media queries, não entendo
  muito sobre as propriedades e de como fazer. Se alguém 
  puder me ajudar e dar ums dicas, eu ficaria agradecido.
  Espero que curtem o visual dessa Landing Page.

*/